#main_content{
    margin:0;    
}

#main_content div{
    padding:15px;
}

#content{
    background-color:#ffffff;
    color:black;
    max-width:1152px;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin:auto; 
}

