body{
    background-image: url("../images/kids_background.jpg");
    background-repeat: repeat;
    background-color: lightgrey;   
}

.navbar{
    background-image: linear-gradient(to bottom, #EEE 0%, #CCC 100%);
}

.jumbotron{
    background-image: linear-gradient(to bottom, #CCFFCC 0%, #AAF0D1 100%);
}

#main_content{
    background-image: linear-gradient(to bottom, #CCFFCC 0%, #AAF0D1 100%);
}

footer{
    background-image: linear-gradient(to bottom, #EEE 0%, #CCC 100%);
}