body{
    background-image: url("../images/seniors_background.jpg");
    background-repeat: repeat;
    background-color: lightgrey;     
}

.navbar{
    background-image: linear-gradient(to bottom, #EEE 0%, #CCC 100%);
}

.jumbotron{
    background-image: linear-gradient(to bottom, #F2E9D5 0%, #E3D1B9 100%);
}

#main_content{
    background-image: linear-gradient(to bottom, #F2E9D5 0%, #E3D1B9 100%);
}

footer{
    background-image: linear-gradient(to bottom, #EEE 0%, #CCC 100%);
}