body{
    background-image: url("../images/youths_background.jpg");
    background-repeat: repeat;
    background-color: lightgrey;     
}

.navbar{
    background-image: linear-gradient(to bottom, #EEE 0%, #CCC 100%);
}

.jumbotron{
    background-image: linear-gradient(to bottom, #FFC05D 0%, #FFAF30 100%);
}

#main_content{
    background-image: linear-gradient(to bottom, #FFC05D 0%, #FFAF30 100%);
}

footer{
    background-image: linear-gradient(to bottom, #EEE 0%, #CCC 100%);
}